<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamPaperQuestionMapper">

    <resultMap type="com.ruoyi.exam.domain.ExamPaperQuestion" id="ExamPaperQuestionResult">
        <result property="id" column="id"/>
        <result property="paperId" column="paper_id"/>
        <result property="questionId" column="question_id"/>
        <result property="titleId" column="title_id"/>
        <result property="score" column="score"/>
        <result property="orderSum" column="order_sum"/>
        <result property="paperVersion" column="paper_version"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
