<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workingHour.mapper.ProjectMembersMapper">

    <resultMap type="com.ruoyi.workingHour.domain.vo.ProjectVo" id="assignProjectByUserIdResult">
        <result property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!--查询用户已分配的项目-->
    <select id="selectAssignProjectByUserId" parameterType="Long" resultMap="assignProjectByUserIdResult">
        select p.id, p.project_name from project p
            join project_members pm on p.id = pm.project_id
        where pm.del_flag = '0' and p.del_flag = '0' and pm.user_id = #{userId};
    </select>


    <!--查询项目成员-->
    <select id="selectMemberVoPage" parameterType="com.ruoyi.workingHour.domain.bo.ProjectMembersBo" resultType="com.ruoyi.workingHour.domain.vo.ProjectMembersVo">
        select pm.id,pm.user_id,pm.project_id, p.project_name, pm.create_user_name, pm.create_time
        from project_members pm join project p on pm.project_id = p.id
        where pm.del_flag = '0' and p.del_flag = '0'
        <if test="bo.projectId != null">
            and pm.project_id = #{bo.projectId}
        </if>
        <if test="bo.createUserName != null and bo.createUserName != ''">
            and pm.create_user_name like CONCAT('%', #{bo.createUserName}, '%')
        </if>
        <if test="bo.userIds != null">
            and pm.user_id in
            <foreach collection="bo.userIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by pm.create_time desc
    </select>

    <resultMap type="com.ruoyi.workingHour.domain.ProjectMembers" id="ProjectMembersResult">
    <result property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="projectId" column="project_id"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="createUserId" column="create_user_id"/>
    <result property="updateUserId" column="update_user_id"/>
    <result property="createUserName" column="create_user_name"/>
    <result property="updateUserName" column="update_user_name"/>
    <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
